<ul class="max-w-md space-y-1 text-blue-500 list-inside dark:text-gray-400 select-none">
  <li><%= link_to('Full Schedule (Manager view)', "schedule/#{@date}") %></li>
  <% @walkers.each do |walker| %>
    <li><%= link_to(walker.name, "schedule/#{@date}?walker=#{walker.id}") %></li>
  <% end %>
</ul>
